@page "/counter"
@inject ExampleJsInterop ExampleJsInterop
<h1>Counter</h1>

<p>Current qr: @QR</p>


<QRScanner OnScanReceived="SetString" NonUniqueTimeout="1000" @ref="qrScanner" />
<button class="btn btn-primary" @onclick="Stop2">Stop</button>

@code {
    private int currentCount = 0;
    private string QR = string.Empty;

    private QRScanner qrScanner { get; set; }

    private async Task Stop2()
    {
        await qrScanner.StopCapturingAsync();
    }

    private void SetString(string qr)
    {
        QR = $"{DateTime.Now}:{qr}";
    }
}
