@page "/"
@inject IJSRuntime JS
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div style="width:100%; max-width:100%;">
    <video style="width:100%; max-width:100%;" id="videoTest"></video>
</div>
<div id="outputTest">Init</div>

<button @onclick="StartScanning">Start scanning</button>

@code{
    async Task StartScanning()
    {
        await JS.InvokeVoidAsync("qeReaderTest", "videoTest", "outputTest");
    }
}