@page "/"
@inject IJSRuntime JS
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div style="width:100%; max-width:100%;">
    <video style="width:100%; max-width:100%;" id="videoTest"></video>
</div>
<div id="outputTest">Init</div>

<button @onclick="StartScanningByObject">Start scanning</button>

@code{
    async Task StartScanning()
    {
        var qrScanner = await JS.InvokeAsync<IJSObjectReference>("qeReaderTest", "videoTest", "outputTest");
        var z = 1;
    }

    async Task StartScanningByObject()
    {
        var popperWrapper = await JS.InvokeAsync<IJSInProcessObjectReference>("import", "./_content/BlazorTech.QRScanner/qr-scanner.umd.min.js");
        var qrScanner = await JS.InvokeAsync<IJSObjectReference>("createQrScanner", "videoTest", "outputTest");
        await qrScanner.InvokeVoidAsync("start");
    }
}