@import '';

/* _content/BlazorTech.QRScanner/Component1.razor.rz.scp.css */
.my-component[b-8rh6smrd92] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
